@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5770 Hurontario St #1100<br />
    Mississauga, ON L5R 3G5<br />
    <abbr title="Phone">P:</abbr>
    905.624.9828
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@soti.net">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@soti.net">Marketing@example.com</a>
</address>